.playstationBanner {
	color: #fff;
  background-color: #0070d1;
	text-align: right;
	padding: 3rem;
	border-bottom: 3px solid #fff;
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	align-items: center;
}

.playstationTitle {
	padding-left: 32px;
}

.playstationLogo {
	height: 45px;
	width: 45px;
}