@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

$font-1: 'Nunito', sans-serif;

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
}

